button {
    width: 280px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #01A3A4;
    color: #FFF;
    text-align: center;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;

}